body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  width: 100%;
}

li {
  /* background-color: rgb(143, 193, 237); */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  /* text-align: center; */
  /* border-radius: 10px; */
  position: relative;
}

/* li:hover {
  box-shadow: 0px 0px 5px 0px rgb(201, 201, 201);
} */

ul.hover-list li {
  opacity: 1;
  transition: opacity 0.3s;
}

ul.hover-list li:hover {
  opacity: 1;
}

ul.hover-list li:not(:hover) {
  opacity: 0.4;
}

.transCard {
  margin: 10px;
  padding : 10px;
  border-radius: 10px;
  /* box-shadow: 2px 2px 10px 0.5px rgb(144, 144, 144) , 0.1px 0.1px 5px 0.1px grey inset; */
  box-shadow:  0px 0px 10px 0px rgb(217, 217, 217) ;
}

#addVehBut {
  background-color: cornflowerblue;
  box-shadow: 1px 1px 5px 3px inset rgb(59, 59, 255)
}

#addVehBut:hover {
  box-shadow: 0px 0px 0px 0px inset rgb(22, 22, 193);
}